.container-large {
  position: relative;
  width: 75vw;
  height: 80vh;
  margin: 10vh auto auto;
  padding-bottom: 5vh;

  background-color: #006962;

  border-style: solid;
  border-radius: 5px;
  border-color: #01424b;
  border-width: 2px;
}

.dialog-screen {
  background-color: blue;
}

.container-large .row {
  height: 100%;
}