.dialog-screen {
  padding: 0;
  margin: 0;
  height: 100%;

  border-left-style: solid;
  border-left-color: rgba(47, 45, 45, 0.49);
  border-left-width: 3px;
}

.dialog-screen .top-bar {
  height: 15%;
  background-color: #8bc6ca;
}
